*{
	margin:0;
}
body{
	margin: 0;
}

#content{
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
	flex-wrap:wrap;
}

#items{
	width:240px;
	height:330px;
	display:flex;
	background-color:#add8e6;
	border-radius: 10px;
	margin-top:10px;
	flex-direction:column;
	justify-content:space-evenly;
	padding-top:1%;
}
.picture{
	width:100%;
	height:100%;
	display: flex;
	justify-content:center;
}
.thumbnail{
	height:250px;
	width:200px;;
}
.title{
	display:flex;
	height:20%;
	justify-content:center;
}

a{
	text-decoration: none;
}