*{
	margin:0;
}

#pagination {
	display: flex;
	justify-content: center;
}

#pageCount{
	display: flex;
	padding-left:3%;
	padding-right:3%;
	justify-content:center;
}

#currP{
	display: flex;
	padding-top:5%;
	padding-left:3%;
	padding-right:3%;
	justify-content:center;
	width:10%;
	font-family:Trattatello, fantasy;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main{
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
	flex-wrap:wrap;
}

#items{
	width:240px;
	height:330px;
	display:flex;
	background-color:#add8e6;
	border-radius: 10px;
	margin-top:10px;
	flex-direction:column;
	justify-content:space-evenly;
	padding-top:1%;
}
.picture{
	width:100%;
	height:100%;
	display: flex;
	justify-content:center;
}
.thumbnail{
	height:250px;
	width:200px;;
}
.title{
	display:flex;
	height:20%;
	justify-content:center;
}
a{
	text-decoration: none;
}