*{
	margin:0;
}

body{
	margin:0;
}
main{
	display:flex;
}

#left{
	margin: 10px;
	background-color:#add8e6;
	border-radius: 10px;
	padding: 10px;
}

#right{
	background-color:#add8e6;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	padding: 10px;
}

#join{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

#score{
	width:20%;
	font-size:150%;
	font-family:Trattatello, fantasy;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#add{
	width:57%;
	display:flex;
	justify-content:flex-end;
}

a{
	text-decoration: none;
}

p{
	margin: 1%;
}